<h1>Enter the main heading, usually the same as the title.</h1>
<p>Be <b>bold</b> in stating your key points. Put them in a list: </p>
<ul>
<li *ngFor="let item of items"><span (click)="clicked(item)">The first item in your list</span></li>
</ul>
<p>Improve your image by including an image. </p>
<p>Add a link to your favorite <a href="#">Web site</a>.
Break up your page with a horizontal rule or two. </p>
<hr>
<p>Finally, link to <a href="#">another page</a> in your own Web site.</p>

<h2 (click)="getPrivileges()">Get privileges</h2>
<h2 (click)="getTodos()">Get todos</h2>

{{surname}}
<!-- And add a copyright notice.-->
<p>&#169; Codehub</p>